<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    {% include 'public/head.html' %}

    <img src="/static/img/lb6.jpg" class="imgix" />
    <div id="a6">
        <div class="zhang">
            <h3 align="right" style="font-family: arial;font-size: 20px;">定格<img src="/static/img/zz.png" />瞬间</h3>

        </div>

        <div class="g5"><img src="/static/img/b13.jpg" width="500px"border:1px solid black/></div>



        <p style="font-family: 'script mt bold';font-size: 19px;color:teal;margin-left: 120px;"><span style="margin-left: 200px;"><i><u>爱情99步</u></i> </span><br />

            <u>
                <br />讲的是一个男孩和一个女孩约定背对背各走100步，<br />
            回头的时候如果还能看见彼此，那么他们就不分手。<br />

                    走到第99步的时候女孩最后忍不住蹲在地上哭了。<br /><br />
                    有一双手臂从背后圈住了她，女孩转头看见了男孩熟<br />
                    悉的脸庞。男孩说，我一向都在等你回头，<br />
                    这一辈子我都不会放你一个人行走…我们此刻终究<br /><br />
                    只是个很想要被人爱的孩子，我们不要天长地久，<br />
                    也不要海枯石烂。我们只要一个怀抱，在我们冷的<br />
                    时候，抱抱我们， 对我们说一声，宝贝,你还有我!<br />
                期望我的朋友都能找到只为你敞开怀抱的那个人!<br /> <br />

                    爱，是不需要理由的。<br />
                    爱来临的时候，你的心会在某一个瞬间被打动被击穿。<br />
                    而打开爱之门的，往往不是智慧  和理智，它有时也<br />

                    可能是一个鲁莽至极或者愚笨至极的举动。 <br /><br />
                    命运，总是在不知不觉中转角。<br />
                    她幽幽地叹息道，我真心祈祷，他的命运还能再一次转角，<br />转角处还能遇到爱。
            </u>
            <br />
        </p>

    </div>


        <!-- <div class="center"> -->
        <!--婚纱展示-->
    <div class="img_a">
        <div class="effect-box">
            <img src="/static/img/3.jpg" width="35%" class="img_1" />
            <div class="border-line2">
                <p> <span>YesIDo</span> <br /> 爱，是不需要理由的。爱来临的时候，你的心会在某一个瞬间被打动被击穿。而打开爱之门的，往往不是智慧和理智，它有时也可能是一个鲁莽至极或者愚笨至极的举动。
                    <br />命运，总是在不知不觉中转角。她幽幽地叹息道，我真心祈祷，他的命运还能再一次转角，转角处还能遇到爱。
                </p>
            </div>
        </div>
        <span class="bg_img">
            <span class="f1">
                <img src="/static/img/1f.png"/>
                <a href="##">MORE</a>
            </span>
        </span>
        <div class="img_dob">
            <img src="/static/img/4.jpg" class="img_11" />
            <img src="/static/img/5.jpg" class="img_11" />
        </div>
        <div class="img_dob2">
            <img src="/static/img/6.png" width="40%" class="img_11" />
            <img src="/static/img/7.png" width="59.2%" class="img_11" />
        </div>
    </div>
    <!--斜角部分-->
    <div class="end">
        <div class="xiejiao">
            <div class="img_x">
                <img src="/static/img/14.jpg" />
            </div>
            <div class="img_x1">
                <img src="/static/img/14.jpg" width="100%" height="100%" />
            </div>
            <p class="text">爱，是不需要理由的。<br />
            爱来临的时候，你的心会在某一个瞬间被打动被击穿。<br />
            而打开爱之门的，往往不是智慧和理智，它有时也可<br />
            能是一个鲁莽至极或者愚笨至极的举动。 命运，总是<br />
            在不知不觉中转角。她幽幽地叹息道，我真心祈祷，<br />
            他的命运还能再一次转角，转角处还能遇到爱. <br />
            是不需要理由的。爱来临的时候，你的心会在某<br />
            一个瞬间被打动被击穿。而打开爱之门的，往往<br />
            不是智慧和理智，它有时也可能是一个鲁莽至极<br />
            或者愚笨至极的举动。 命运，总是在不知不觉中转角。<br />
            她幽幽地叹息道，我真心祈祷，他的命运还能再一次转角，<br />
            转角处还能遇到爱.
            </p>
            <span class="line"></span>
            <h1>YESIDO</h1>
        </div>
    </div>
    <!--结束-->
    <div class="over">
        <img src="/static/img/hs_sm.png" />
        <div class="tel">
            <img src="/static/img/222.png" />
            <img src="/static/img/wx.png" class="img_wx" />
            <img src="/static/img/qq.png" class="img_wx" />
            <span class="tel_wx">010-xxxxxxx</span>
            <span class="tel_add">xxxx</span>
        </div>
    </div>



</body>
</html>