<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/load.css">
</head>
<body>
<div class="load">
{% include 'public/head.html' %}
    <div class="login_form fr">
        <div class="login_title clearfix">
            <h1>用户登录</h1>
            <a href="/register">立即注册</a>
        </div>
        <div class="form_input">
            <form method="post">
                <input type="text" name="phone" class="name_input" placeholder="请输入用户名">
                <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
                <div class="more_input clearfix">
                    <input type="checkbox" name="remember">
                    <label>记住用户名</label>
                    <a href="#">忘记密码</a>
                </div>
                <input type="submit" name="" value="登录" class="input_submit">
            </form>
        </div>
    </div>
</div>

</body>
</html>